<p>...{{ name }}...</p>
<p>...{{ n1 + n2 }}...</p>

<app-header></app-header>
<img [src]="imagePath" alt="" style="
    width: 200px;
    height: 150px;
    object-fit: cover;
    border: 2px solid #ccc;
    border-radius: 8px;
  " />

<Button [disabled]="isDisabled">Button</Button>
<Button (click)="toggleBtn()">Toggle Button</Button>

<p>Password: 53891429</p>
<app-twowaycomponent></app-twowaycomponent>


<h1>ParentChild Component DataBinding</h1>
<app-parentcmp></app-parentcmp>


<app-counter></app-counter>
----------------------------------------------------------------

<h1>Declaratives</h1>

<h1>1. Attribute Declaratives</h1>

<button (click)="isLoggedIn=!isLoggedIn">{{ isLoggedIn ? 'Logout' : 'Login' }}</button>
<div *ngIf="isLoggedIn">
  <h1>Hello User is Logged in.. Sussfully </h1>
</div>

<div *ngFor="let item of fruitBasket; let i = index;">
  <ul *ngIf="(i+1)%2==0">
    <li>{{i+1}}.{{item}}</li>
  </ul>
</div>

<p>Infosis, Capgemini, Tcs, Deloitte, Accenture, Gold man Sacks, JpMorgan</p>

<select [(ngModel)]="selectedColor">
  <option value="red">Red</option>
  <option value="green">Green</option>
  <option value="blue">Blue</option>
</select>

<!-- <div [ngSwitch]="selectedColor">
  <div *ngSwitchCase="expression">output</div>
  <div *ngSwitchDefault>output2</div>
</div> -->
<div [ngSwitch]="selectedColor">
  <p *ngSwitchCase="'red'">You Selected Red</p>
  <p *ngSwitchCase="'green'">You Selected Green</p>
  <p *ngSwitchCase="'blue'">You Selected Blue</p>
  <!-- <p *[ngSwitchCase]="blue">You Selected Blue</p> -->
</div>

<h1>2. Structural Declaratives</h1>

<h1>ngClass</h1>
<button (click)="toggleClass()">ToggleClass</button>
<div [ngClass]="{'highlight': isHighlighted}"> This will be highlighted..</div>

<h1>ngStyle</h1>
<button (click)="changeColor()">Change Color</button>
<div [ngStyle]="{'color': textColor, 'font-size': fontSize }">
  <p>
    This will change according to textColor and font will be changed by fontsize..
  </p>
</div>

----------------------------------------------------------------

<h1>Pipes</h1>
<p>Pipes are used to updates as well as manipulate data on the screen</p>
<p>Types</p>

<ul> 1. Build in Pipes
  <li> date Pipe </li>
  <li> lowercase Pipe </li>
  <li> uppercase Pipe </li>
  <li> currency Pipe </li>
  <li> SLice Pipe </li>
</ul>

<h1>Pipes in Angular</h1>
<p>Pipes are used to transform and manipulate data on the screen.</p>

<h2>Examples of Built-in Pipes</h2>
<ul>
  <li>
    <strong>DatePipe:</strong>
    <p>Original: {{ today }}</p>
    <p>Formatted:</p>
    <p>| date: {{ today | date }}</p>
    <p>| date:'short': {{ today | date:'short' }}</p>
    <p>| date:'fullDate': {{ today | date:'fullDate' }}</p>
    <p>Custom Formatted:</p>
    <p>| date:'fullDate': {{ today | date:'dd/mm/yyyy HH:mm:ss' }}</p>
  </li>
  <li>
    <strong>LowerCasePipe:</strong>
    <p>Original: {{ 'Hello Angular' }}</p>
    <p>Lowercase: {{ 'Hello Angular' | lowercase }}</p>
  </li>
  <li>
    <strong>UpperCasePipe:</strong>
    <p>Original: {{ 'Hello Angular' }}</p>
    <p>Uppercase: {{ 'Hello Angular' | uppercase }}</p>
  </li>
  <li>
    <strong>CurrencyPipe:</strong>
    <p>Original: {{ price }}</p>
    <p>Formatted: {{ price | currency:'INR' }}</p>
    <p>Formatted: {{ price | currency:'USD':'symbol' }}</p>
  </li>
  <li>
    <strong>SlicePipe:</strong>
    <p>Original: {{ 'Hello Angular Pipes' }}</p>
    <p>Sliced: {{ 'Hello Angular Pipes' | slice:6:13 }}</p>
  </li>
  <li>
    <strong>Add Number and JSON Object</strong>
    <p>Number: {{ 5 }}</p>
    <p>Object: {{ user1 | json }}</p>
    <!-- <p>Result: {{ 5 | addNumberToJson:user1:'age' }}</p> -->
  </li>
</ul>
<!-- 
<h2>Example of a Custom Pipe</h2>
<p>Original: {{ 'Angular' }}</p>
<p>Reversed: {{ 'Angular' | reverse }}</p> -->